$md-primary: (
    50 : #e0edfa,
    100 : #b3d2f4,
    200 : #80b4ec,
    300 : #4d96e4,
    400 : #2680df,
    500 : #0069d9,
    600 : #0061d5,
    700 : #0056cf,
    800 : #004cca,
    900 : #003bc0,
    A100 : #e9eeff,
    A200 : #b6c7ff,
    A400 : #83a0ff,
    A700 : #698cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);