<div fxLayout="column" fxFill fxLayoutAlign="center none" >
    <div fxLayout="row wrap" fxLayout.lt-lg="column">
        <div fxFlex="50%" class="p-2">
            <mat-card fxLayout="column" fxLayoutAlign="center none">
                <h1>{{contacts.length}}</h1>
                <h3>Total de contactos</h3>
            </mat-card>
        </div>
        <div fxFlex="50%" class="p-2">
            <mat-card fxLayout="column" fxLayoutAlign="center none">
                <h1>{{totalBirthday.length}}</h1>
                <h3>Happy Birthday today</h3>
            </mat-card>
        </div>
    </div>
</div>