<app-navbar (sidebarToggled)="drawer.toggle()"></app-navbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z10" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
